<% post.comments.each do |comment| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 well well-sm">
      <p><%= comment.body %></p>
      <p>
        <span class="quiet">Posted by <%= comment.creator.username %> on <%= fix_date(comment.created_at) %></span>
      </p>
    </div>
  </div>
<% end %>