<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>

<% if logged_in? %>
  <h5 class="pull-right">[<%= link_to "Edit this category", edit_category_path(@category) %>]</h5>
<% end %>

<%= render 'shared/content_title', title: header %>

<br>

<% @posts.each do |post| %>
<%= render 'posts/post', post: post %>
<% end %>