<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>

<%= render 'shared/content_title', title: header %>
<h5>[<%= link_to "Edit Category", edit_category_path(@category) %>]</h5>
<br>

<% @posts.each do |post| %>
<%= render 'posts/post', post: post %>
<% end %>